#!/usr/bin/env bash

# --------------------[ Navigation ]--------------------
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~"
alias -- --="cd - > /dev/null"

# --------------------[ Destinations ]--------------------
alias dl="cd ~/Downloads"
alias dt="cd ~/Desktop"
alias gg="cd /vcs/git/"
alias gd="cd ~/Development/"
alias gs="cd /vcs/svn/"

# --------------------[ Essentials ]--------------------
alias cl="clear"
alias psx="ps auxw"
alias xx="exit"
alias ff="find . -iname" ## Param with Quotes
alias tarex="tar -vxzf"
alias resource="source ~/.bash_profile && echo '» Reloading .bash_profile done!'"
alias reload="exec $SHELL -l" ## Reload the shell (i.e. invoke as a login shell)

# --------------------[ Applications ]--------------------
alias chrome="open -a /Applications/Google\ Chrome.app/"

# --------------------[ Listings ]--------------------
# Detect which `ls` flavor is in use (GNU oder OSX)
if ls --color > /dev/null 2>&1; then
    alias ls="ls --color=auto"
else
    alias ls="ls -G"
fi

alias ll="ls -lh"
alias lt="ls -lht"
alias la="ls -lhA"
alias ld="ls -lh | grep '^d'"

# --------------------[ grep Colors ]--------------------
# Always enable colored `grep` output (Note: 'GREP_OPTIONS="--color=auto"' is deprecated, hence the alias usage.)
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

# --------------------[ Git ]--------------------
alias clone="git clone"
alias log="git log"
alias diff="git diff"
alias branch="git branch"
alias status="git status"
alias fetch="git fetch"
alias push="git push"
alias pull="git pull"
alias merge="git merge"
alias cpick="git cherry-pick"
alias fp="fetch && pull"

alias logd="git log --oneline --decorate --graph"
alias loga="git log --oneline --decorate --graph --all"

# --------------------[ SVN ]--------------------
alias sup='svn update'
alias sst='svn status'
alias sco='svn checkout'
alias sci='svn commit'

# --------------------[ Docker ]--------------------
alias dps='docker ps'
alias dimg='docker images'
alias dcb='docker-compose build'
alias dcup='docker-compose up'
alias dcdown='docker-compose down'
alias dlogs='docker logs'
alias dcstop='docker-compose stop'
alias dcstart='docker-compose start'

function dbash() {
    docker exec -it ${1} "bash"
}

# --------------------[ Time and Date ]--------------------
alias week='date +%V' # Diplays the week number
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date' # Stopwatch

# --------------------[ Network ]--------------------
alias ips="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias localip="ipconfig getifaddr"
alias ifactive="ifconfig | pcregrep -M -o '^[^\t:]+:([^\n]|\n\t)*status: active'" ## Shows active Network interfaces

# --------------------[ Various ]--------------------
command -v hd > /dev/null || alias hd="hexdump -C" ## Canonical hex dump; some systems have this symlinked
command -v md5sum > /dev/null || alias md5sum="md5" ## macOS has no 'md5sum', so use 'md5' as a fallback
command -v sha1sum > /dev/null || alias sha1sum="shasum" ## macOS has no 'sha1sum', so use 'shasum' as a fallback
alias cleanup="find . -type f -name '*.DS_Store' -ls -delete" ## Recursively delete #.DS_Store' files

# --------------------[ System ]--------------------
# Show / Hide hidden files in Finder.app
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Show / Hide all desktop Icons
alias hidedesktop="defaults write com.apple.finder CreateDesktop -bool false && killall Finder"
alias showdesktop="defaults write com.apple.finder CreateDesktop -bool true && killall Finder"

# Enable / Disable Spotlight
alias spotlighton="sudo mdutil -a -i on"
alias spotlightoff="sudo mdutil -a -i off"

alias afk="/System/Library/CoreServices/Menu\ Extras/User.menu/Contents/Resources/CGSession -suspend" ## Lock the screen (when going AFK)

# --------------------[ Sound ]--------------------
# Stuff I never really use but cannot delete either because of http://xkcd.com/530/
alias stfu="osascript -e 'set volume output muted true'"
alias pumpitup="osascript -e 'set volume output volume 100'"

# --------------------[ Various ]--------------------
alias urlencode='python -c "import sys, urllib as ul; print ul.quote_plus(sys.argv[1]);"' ## URL-encode strings
alias mergepdf='/System/Library/Automator/Combine\ PDF\ Pages.action/Contents/Resources/join.py' ## Merge PDF files (Usage: 'mergepdf -o output.pdf input{1,2,3}.pdf')
alias path='echo -e ${PATH//:/\\n}' ## Print each PATH entry on a separate line
alias badge="tput bel" ##  Ring the terminal bell, and put a badge on Terminal.app’s Dock icon (useful when executing time-consuming commands)
