#!/usr/bin/env bash

export EDITOR='vim';                       # Make vim the default editor

export NODE_REPL_HISTORY=~/.node_history;  # Enable persistent REPL history for #node'
export NODE_REPL_HISTORY_SIZE='32768';     # Allow 32³ entries (default is 1000)
export NODE_REPL_MODE='sloppy';            # Use sloppy mode by default, matching web browsers

export PYTHONIOENCODING='UTF-8';           # Make Python use UTF-8 encoding for output to stdin, stdout, and stderr.

export HISTSIZE='32768';                   # Allow 32³ entries; the default is 500.
export HISTFILESIZE="${HISTSIZE}";         # Increase Bash history size.
export HISTCONTROL='ignoreboth';           # Omit duplicates and commands that begin with a space from history.

export LANG='en_US.UTF-8';                 # Prefer US English and use UTF-8.
export LC_ALL='en_US.UTF-8';

export LESS_TERMCAP_md="${yellow}";        # Highlight section titles in manual pages.
export MANPAGER='less -X';                 # Don’t clear the screen after quitting a manual page.
